  <div *ngFor="let movie of movieService.movieArray" class="container mt-5">
  <div class="row justify-content-center">
    <div class="card movie_card">
      <img src="{{ movie.imageURL }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <span class="movie_info">Ano de Lançamento: {{ movie.releaseDate }}</span>
        <br>
        <span class="movie_info">Diretor: {{ movie.director }}</span>
        <span class="movie_info float-right">
          <i data-toggle="tooltip" data-placement="bottom" title="Deletar" class="fas fa-trash"></i>
        </span>
      </div>
    </div>
  </div>
</div>