<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <label>
        Title:
        <input type="text" formControlName="title" required>
    </label>
    <label>
        Director:
        <input type="text" formControlName="director" required>
    </label>
    <label>
        Release Date:
        <input type="text" formControlName="releaseDate" required>
    </label>
    <label>
        Image:
        <input type="text" formControlName="imageURL" required>
      </label>
    <label>
        Available
        <input type="checkbox" formControlName="isAvailable">
    </label>
    <button type="submit" [disabled]="movieForm.invalid">Submit</button>
</form>